.mainpage {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background: black;
  background: #212121;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 16%;
  height: 100vh;
  min-width: 256px;
  min-height: 820px;
  background: teal;
  border-right: 2px solid whitesmoke;
}

.navbar-header {
  height: 23vh;
  min-height: 230px;
  background: #212121;
  border-bottom: 2px solid whitesmoke;
  color: white;
  font-size: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-header span {
  font-size: 50px;
}

.navbar-btns {
  height: 77vh;
  min-height: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 700;
}

.reset-btn {
  text-align: center;
  cursor: pointer;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 5px 10px;
}

.reset-btn:hover {
  background: rgb(0, 77, 77);
}
.navbar-btns-in {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.array-size span {
  display: flex;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  height: 35.3px;
}
.array-size span div {
  padding: 5px 0px;
  cursor: pointer;
  width: 33.3333333%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
/* .array-size span div:hover {
  background: rgb(0, 107, 107);
} */

.arrsize {
  background-color: rgb(0, 128, 128);
}
#arrsize1 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#arrsize2 {
  border-radius: 0;
}
#arrsize3 {
  background: rgb(0, 77, 77);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sort-speed span {
  display: flex;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  height: 35.3px;
}
.sort-speed span div {
  padding: 5px 0px;
  cursor: pointer;
  width: 33.3333333%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
/* .sort-speed span div:hover {
  background: rgb(0, 107, 107);
} */
#sortspeed1 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#sortspeed2 {
  border-radius: 0;
}
#sortspeed3 {
  background: rgb(0, 77, 77);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sort-algs1 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid whitesmoke;
  /* border-bottom: none; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 1px;
}
.sort-algs2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid whitesmoke;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.separator {
  background: whitesmoke;
  width: 1px;
  height: 40px;
}

.sorts {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  cursor: pointer;
  border-radius: 5px;
}

.sorts:hover {
  background: rgb(0, 77, 77);
}

#stopsort {
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-width: 209.72px;
  height: 188.73px;
}

#stopsort div {
  font-size: 35px;
}

#stopsort-in {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  height: 155px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

#reset-btndup {
  display: none;
  cursor: default;
  opacity: 0.4;
}
#reset-btndup:hover {
  background: teal;
}
#arr-sizesdup {
  display: none;
  cursor: default;
  opacity: 0.4;
}
#arr-sizesdup div {
  background: teal;
  cursor: default;
}
#sort-spddup {
  display: none;
  opacity: 0.4;
}
#sort-spddup div {
  cursor: default;
}

#insertion {
  width: 50%;
}
#selection {
  width: 50%;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  
}
.navbar-links img {
  width: 50px;
}

.barshow1 {
  display: flex;
  justify-content: space-between;
  width: 84%;
  flex-direction: column;
  height: 100vh;
}

.bar-show {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 77vh;
  margin-bottom: 1vh;
  padding-left: 60px;
  padding-right: 60px;
}

#mergesortpad {
  padding-left: 1px;
}

.info-show {
  height: 23.3vh;
  min-height: 230px;
  background: teal;
  min-width: 1250px;
  border-bottom: 2px solid whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info-showin {
  display: flex;
  height: 90%;
  width: 100%;
  align-items: center;
}

.info-showin2 {
  display: flex;
  margin: 5px 5px;
  width: 100%;
  height: 90%;
  justify-content: space-evenly;
  align-items: center;
}

#quickinfo {
  margin-top: 20px;
}
#mergeinfo {
  margin-top: 30px;
}
#insertioninfo {
  margin-bottom: 15px;
}
#selectioninfo {
  margin-bottom: 25px;
}

.info-bar  {
  border: 1px solid black;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: 900;
  padding: 0px 10px;
  min-width: 56%;
  max-width: 56%;
  height: 110%;
  background: #282c34;
}
.info-bar1  {
  border: 1px solid black;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: 900;
  padding: 0px 10px;
  min-width: 56%;
  max-width: 56%;
  height: 110%;
  background: #282c34;
}

#info-barcode {
  min-width: 32%;
  max-width: 32%;
  background-color: #282c34;
  overflow-x: hidden; 
  overflow-x: auto;
}

.info-barmid {
  display: flex;
  padding: 5px 5px;
  font-size: 20px;
  width: 99%;
  max-width: 99%;
  height: 95%;
}
.info-barmid1 {
  width: 35%;
  border-right: 1px solid whitesmoke;
  height: 100%;
}
.info-bartitle {
  font-size: 25px;
  width: 100%;
  border-bottom: 1px solid whitesmoke;
  text-align: center;
  margin-bottom: 5px;
}
.info-barhold {
  display: flex;
  margin-top: 12px;
  margin-right: 10px;
  justify-content: center;
}

.info-barhold img {
  width: 94%;
  border-radius: 3px;
}

.info-barmid2 {
  width: 65%;
  max-width: 65%;
  min-width: 65%;
  height: 100%;
}

.info-bar-pros {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  /* width: 150px; */
  width: 97%;
  margin: 10px;
}

#makeflex {
  display: flex;
  margin-bottom: 10px;
}

#info-barcodetop {
  margin-top: 5px;
}
.info-bar1 img {
  width: 80%;
  border-radius: 5px;
  margin-top: 5px;
}

#mergecpic {
  width: 110%;
}

#extra-links {
  min-width: 4%;
  max-width: 4%;
  border: none;
  /* border: 1px solid whitesmoke; */
  background-color: teal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#extra-links img {
  cursor: pointer;
  width: 35px;
}

.arr-bars {
  width: 1px;
  margin: 0 2px;
  background: turquoise;
  /* background: #7ffdfd; */
}