.mainpage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.bar-show {
  /* position: absolute;
  left: 100px; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.arr-bars {
  /* min-width: 2px; */
  margin: 0 1px;
  background: blue;
}

#root {
  justify-content: center;
  padding: 0;
}